@model GetThiqqq.Models.ExerciseDemonstratonViewModel
@{
    ViewData["Title"] = Model.Exercise.ExerciseName;
}

<h3>@Model.Exercise.ExerciseName</h3>

<p>@Model.Exercise.Description</p>

<p>@Model.Exercise.Instructions</p>
