
@{
    ViewData["Title"] = "CreateTopic";
}

<style>
    .topic-title {
        display: block;
        position: relative;
        text-align: center;
        margin: auto;
    }
    .topic-text {
        display: block;
        position: relative;
        text-align: center;
        margin: auto;
    }

    .tags {
        display: block;
        position: relative;
        text-align: center;
        margin: auto;
    }

    button {
        position: relative;
        display: inline-block;
        text-align: center;
        height: auto;
        width: auto;
        margin: auto;
        background-color: black;
        color: white;
        border: thin;
        border-color: black;
    }

    input {
        display: block;
        position: relative;
        margin: auto;
        padding: 5px;
    }

</style>
<div class="page-header">

</div>
<h3 style="text-align:center">Create a forum topic!</h3>
<form action="@Url.Action("SubmitTopic", "Forum")" method="post">
    <div class="text">
    <label class="topic-title">Topic Title</label>
    <input type="text" name="TopicTitle" id="topic-name"/>
    <label class="topic-text"> Topic Text</label>
    <textarea class="topic-text" name="TopicText" id="topic-text"></textarea>
    <label class="tags">Tags</label>
    <input type="text" name="Tag"/>
    </div>
    <div style="text-align:center; padding:10px">
        <button id="add-tag">Add Tag</button>
        <button id="submit" type="submit">Submit</button>
    </div>
</form>
