@model GetThiqqq.Models.CreatePostViewModel
@{
    ViewData["Title"] = "CreatePost";
}

<h2>CreatePost</h2>
<form asp-action="SubmitPost">
    <textarea name="PostText"></textarea>
    <button type="submit">Post</button>
    <input type="text" name="TopicId" style="display: none" value="@Model.TopicId" />
    <input type="text" name="TopicId" style="display: none" value="@Model.UserId" />
</form>


