
<div id="header" class="page-header">

</div>
<div id="main-page">
    <h1 style="text-align: center">Welcome to GetThiqq!</h1>
    <div style="text-align: center">
        <img height="600" width="800" src="https://cdn.pixabay.com/photo/2016/03/31/23/33/weight-lifting-1297690_1280.png" />
    </div>
</div>
