@model GetThiqqq.Models.CreateAccountViewModel
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<div id="heading">
    <h2>CreateAccount</h2>
</div>
<div id="form-info">
    <form method="post" action="@Url.Action("SubmitAccount", "Account")">
    <p>Enter your information to create your GetThiqq Account!</p>
    <h3>Username</h3>
    <input id="Username" name="Username" type="text" />
    <h3>Password</h3>
    <input id="Password" name="Password" type="text"/>
    <h3>Email Address</h3>
    <input id="Email-address" name="EmailAddress" type="text" />

    <button type="submit">Submit</button> <button id="cancel" type="button">Cancel</button>
    </form>
</div>
<script>
    $("#cancel").on("click", function () {

    });

    $("#Password").on("blur", function () {
        //Should confirm password meets requirements

    });

    $("#Password").on("keyup", function () {
        //Should obscure character to become dot 
    });
</script>