@model GetThiqqq.Models.CreateAccountViewModel
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<div id="heading">
    <h2>CreateAccount</h2>
</div>
<div id="form-info">
    <form method="post" action="@Url.Action("Account", "CreateAccount")">
    <p>Enter your information to create your GetThiqq Account!</p>
    <h3>Username</h3>
    <input id="Username" type="text" />
    <h3>Password</h3>
    <input id="Password" type="text"/>
    <h3>Email Address</h3>
    <input id="Email Address" type="text" />

    <button type="submit">Submit</button> <button type="button">Cancel</button>
    </form>
</div>
<script>
    
</script>