@model GetThiqqq.Models.UserAccountViewModel

<style>
        button {
        position: relative;
        display: inline-block;
        text-align: center;
        height: auto;
        width: auto;
        margin: auto;
        background-color: black;
        color: white;
        border: thin;
        border-color: black;
    }
</style>
<h2>UserProfile</h2>

<h3>Hello, @Model.Username!</h3>
@Html.HiddenFor(x => x.UserId)

<h5>Email Address: @Model.UserEmail</h5>
<form asp-action="ExerciseSearch" asp-controller="Exercise">
    <button type="submit">Search for an Exercise</button>
</form>
<br/>
<form asp-action="CreateRoutine" asp-controller="Routine">
    <button type="submit">Create a new Routine!</button>
</form>
<br/>
<form asp-action="ViewAllRoutines" asp-controller="Routine">
    <button type="submit">View My Routines</button>
</form>
<br/>
<form asp-action="ForumHome" asp-controller="Forum">
    <button type="submit">Forum Home</button>
</form>

<br/>
<form asp-action="Logout">
    <button type="submit">Logout</button>
</form>
<h4>Your Fourm Posts</h4>
<table style="width: 40%;">
    <tr>
        <th style="width: 20%">Date of Post</th>
        <th>Post Text</th>
    </tr>
    @foreach (var post in Model.UserPosts)
    {
        <tr>
            <td style="width: 10%">4/21/2018</td>
            <td>@post.PostText</td>
        </tr>
    }
</table>
