
@{
    ViewData["Title"] = "CreateRoutine";
}
<style>
        button {
        position: relative;
        display: inline-block;
        text-align: center;
        height: auto;
        width: auto;
        margin: auto;
        background-color: black;
        color: white;
        border: thin;
        border-color: black;
    }
</style>
<div class="page-header">

</div>
<div>
    <h2>Create A Routine</h2>
    <br/>
    
    <form method="post" asp-action="CreateRoutine">
        <div id="exercise-form">
            <label>Days a week to preform the Routine</label>
            <select id="frequency" name="Frequency">
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
            <label id="select-label">Select Your Exercise</label>
            <br/>
            <input list="exercise-list"type="text" name="Exercises" data-list-element="exercise-list" id="exercise-name"/>
            <datalist id="exercise-list"></datalist>
            <br/>
            <label id="reps-label">Number of Reps</label>
            <select id="number-of-reps" name="NumOfReps">
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
            </select>
            <label id="sets-label">Number of Sets</label>
            <select id="number-of-sets" name="NumOfSets">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
            <br/>
            <label id="weight-label">Weight</label>
            <br/>
            <input id="weight" name="ExerciseWeight" type="number"/>
            <br/>
        </div>
        <button type="submit">Create your Routine</button>
        </form>
    
    
    <button id="next-exercise">Add Another Exercise</button>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>
        $(document).ready(function() {
        fillExercises();
    });

        $("#next-exercise").on("click",
            function () {
                var element = document.getElementById("exercise-name");
                var datalistElement = document.getElementById("exercise-list");
                var weight = document.getElementById("weight");
                var numOfReps = document.getElementById("number-of-reps");
                var numOfSets = document.getElementById("number-of-sets");
                var weightLabel = document.getElementById("weight-label");
                var selectLabel = document.getElementById("select-label");
                var setsLabel = document.getElementById("sets-label");
                var repsLabel = document.getElementById("reps-label");
                var newDatalistElement = datalistElement.cloneNode();
                var newElement = element.cloneNode();
                var newWeight = weight.cloneNode();
                var newSets = numOfSets.cloneNode();
                var newReps = numOfReps.cloneNode();
                var newSetsLabel = setsLabel.cloneNode();
                var newRepsLabel = repsLabel.cloneNode();
                var newWeightLabel = weightLabel.cloneNode();
                var newSelectLabel = selectLabel.cloneNode();
                newWeightLabel.append("Weight");
                newSetsLabel.append("Number Of Sets");
                newRepsLabel.append("Number Of Reps");
                var dataListOptions = $("#exercise-list option");
                $.each(dataListOptions,
                    function(index, exercise) {
                        newDatalistElement.append(exercise.cloneNode());
                    });
                var setOptions = $("#number-of-sets option");
                $.each(setOptions,
                    function (index, numSet) {
                        var newNumSet = numSet.cloneNode();
                        newNumSet.append(numSet.text);
                        newSets.append(newNumSet);
                    });
                var repOptions = $("#number-of-reps option");
                $.each(repOptions,
                    function (index, numRep) {
                        var newNumRep = numRep.cloneNode();
                        newNumRep.append(numRep.text);
                        newReps.append(newNumRep);
                    });
                $("#exercise-form").append(newSelectLabel);
                $("#exercise-form").append(newElement);
                $("#exercise-form").append(newDatalistElement);
                $("#exercise-form").append(newWeightLabel);
                $("#exercise-form").append(newWeight);
                $("#exercise-form").append(newSetsLabel);
                $("#exercise-form").append(newSets);
                $("#exercise-form").append(newRepsLabel);
                $("#exercise-form").append(newReps);
        });

    function fillExercises() {
        var exercises;
        $.ajax({
            url: "@Url.Action("GetAllExercises", "Exercise")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                exercises = data;
                $.each(exercises,
                    function (index, exercise) {
                        $("#exercise-list")
                            .append($('<option>', { exercise })
                                .val(exercise)
                                .text(exercise));
                    });
            }

        });
    }
</script>